body {
  position: relative;
}

#wrapper {
  width: 650px;
}

h2 {
  margin: 0 0 15px;
  font-weight: bold;
  font-size: 20px;
	color:#fff;
}

h3 {
	font-size: 14px;
	margin: 0 0 5px;
}

ul {
	margin:0 0 10px 10px;
	list-style:none;
	padding:15px;
	background:#444;
}

#script-holder, #script-options {
}

#script-options {
  margin-bottom: 40px;
}

 #script-options p {
   margin-bottom: 10px;
 }

#script-copy {
  width: 645px;
  height: 100px;
  margin-bottom: 30px;
}

#radio-buttons {
  font-weight: bold;
}

#bookmarklet-button-holder {
  margin-top: 10px;
  margin-bottom: 30px;
}

#bookmarklet-button {
  background-color: #0079C4;
  color: #FFF;
  font-weight: bold;
  padding: 5px;
}

.desc {
  color: #999;
  font-weight: normal;
}

.clear {
  clear: both;
}