h1 {
    font-style: strong;
    font-family: "Arial";
    font-size: 80px;
    text-align: center;
    color: white;
}
h2 {
    color: rgb(248, 255, 185);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color:rgb(238, 238, 238);
}
body {
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    text-align: center;
}
a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(255, 255, 255);
}