body {
  background-image: linear-gradient(#000, rgb(42, 30, 59));
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
}
p, h2, fake, a {
  color: rgb(249, 219, 255);
  font-family: 'Courier New', Courier, monospace;
  
}
a {
  color: rgb(155, 131, 160)
}
.center {
  text-align: center;
}
.bread {
  height: 25vh;
}

.donateaddr {
  display: none;
}
.donateblurb {
  text-decoration: underline;
}
.xmr:hover .donateaddr {
  display: block;
}
.xmr:hover .donateblurb {
  display: none;
}