body {
  background-image: linear-gradient(#000, rgb(51, 30, 59));
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
}
p, h2, fake, a {
  color: rgb(255, 219, 219);
  font-family:Verdana, Geneva, Tahoma, sans-serif
  
}
a {
  color: rgb(188, 185, 214)
}
.center {
  text-align: center;
}
.bread {
  height: 25vh;
}

.donateaddr {
  display: none;
  font-family: 'Courier New', Courier, monospace;
}
.donateblurb {
  text-decoration: underline;
}
.xmr:hover .donateaddr {
  display: block;
}
.xmr:hover .donateblurb {
  display: none;
}
